@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    @apply bg-transparent border hover:border-subblack  transition duration-200 text-subblack font-[500] py-2 px-4 rounded-[10px];
  }
  .popup{
    @apply flex flex-col fixed bg-white w-[30vw] z-[220] left-1/2 sm:top-1/2 p-[2em] -translate-x-1/2  sm:-translate-y-1/2  rounded-[20px] ;
  }

  .sidepopup{
    @apply flex flex-col fixed bg-white w-[40vw] z-[220] m-0 sm:top-1/2 p-[2em] right-0  sm:-translate-y-1/2 ;
  }

  .btn-primary{
    @apply bg-greentheme hover:bg-[#688F3D] transition duration-200 text-white font-[500] py-2 px-4 rounded-[10px];
  }
  .btn-secondary{
    @apply hover:text-white bg-[#E7EEDF] hover:bg-[#688F3D] text-greentheme transition duration-200 font-[500] py-2 px-4 rounded-[10px];
  }

  .input-primary{
    @apply border border-[#d1d2cf] text-subblack font-[500] py-2 px-4 rounded-[10px];
  }
}

.overlay{
  width: 100vw;
  height: 100vh;
  background: #00000010;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 10px;
}

.inputs{
  border: 1px solid #1e1e1e20 !important;
  border-radius: 10px !important;
  padding: 10px !important;
  width: 100% !important;
  
}
.inputs-unique{
  border: 1px solid #1e1e1e20 !important;
  border-radius: 10px !important;
  padding: 10px !important;
  
}

.inputs:focus{
  border: 1px solid #1e1e1e;
}

#inputPlace{
  border: 1px solid #1e1e1e20;
  border-radius: 10px;
  padding: 10px;

}
#inputPlace:focus{
  border: 1px solid #1e1e1e;
}

/* Hide scrollbar for Webkit browsers (e.g., Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



@layer base{
    body{
        font-family: 'poppins', sans-serif;
    }
    h1{
        font-size: 2rem;
        font-weight: 700;
    }
    h2{
        font-size: 1.5rem;
        font-weight: 600;
    }
    h3{
        font-size: 1.25rem;
        font-weight: 600;
    }
    h4{
        font-size: 1rem;
        font-weight: 600;
    }
    
    input[type="text"]{
        all:unset;
        
      }


      .checkbox {
        appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      background-color: #f0f0f0;
      border: 2px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
      }
    /* Hide the default checkbox */
    /* input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      background-color: #f0f0f0;
      border: 2px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
    } */

    /* Style the checkbox when it's checked */
    input[type="checkbox"]:checked {
      background-color: #88AB61;
      border-color: #88AB61;
    }

    /* Create a checkmark when the checkbox is checked */
    input[type="checkbox"]:checked::after {
      content: '';
      position: absolute;
      /* top: 4px;
      left: 6px; */
      top: 10%;
      left: 30%;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    /* Optional: Add a hover effect */
    input[type="checkbox"]:hover {
      border-color: #888;
    }

    


    table {
      width: 100%; /* Full width */
      border-collapse: collapse; /* Collapse borders */
      margin: 20px 0; /* Margin around the table */
      font-size:16px; /* Font size */
      text-align: left; /* Align text to the left */
    }
    
    th, td {
      padding: 12px; /* Padding inside cells */
    }
    
    th {
      background-color: #f2f2f260; /* Header background color */
      font-weight: bold; /* Make the header bold */

      
    }
    

}